.images > img {
  padding: 0 10px 10px 10px;
  margin-top: 10px;
}

.images > img:hover {
  opacity: 1;
}

.images {
  max-width: 768px;
}

.text > span {
  margin-top: 20px;
  font-size: 24px;
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  margin: 2px 0;
  color: #fff;
  font-weight: 600;
}

.hot-spec {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.desc {
  margin-top: 20px;
  font-size: 14px;
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}

.slides {
  display: flex;
  background-color: #030b17;
  border-radius: 17px;
}
.text {
  padding: 60px;
}
.slides{
  position: relative;
}
.right-arrow{
  position: absolute;
  font-size: 50px;
  color: white;
  right:0;
  top:50%;
}
.left-arrow{
  font-size: 50px;
  position: absolute;
  color: white;
  top:50%;
  left:0;
}
.flex{
  display:flex;
}



.media-block{
  display: none;
}

.media-hide{
  display: block;
}
@media screen and (max-width: 600px){
  .media-block{
    display: block;
    width: 600px;
    margin: 0;
  }
  .media-hide{
    display: none;
  }
.images{
  width:600px;
  margin: 0;
  text-align: center;
  padding: 0%;
}
.change-size-image{
  margin:0;
}
.image-board{
  width:500px;
  margin: 0;
  padding:0;
}
.slides{
  padding:0;
  margin:0;
}

}